body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
font-size: 48px;
font-weight: bold;
color: #333;
margin-top: 80px;
}

h2 {
font-size: 28px;
font-weight: bold;
color: #333;
margin-top: 50px;
}

nav {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    }
    
    nav a {
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 0 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    }
    
    nav a:hover {
    background-color: #fff;
    color: #333;
    }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* agrega esta línea para centrar verticalmente las imágenes */
  margin-top: 50px;
  width: 100%; /* agrega esta línea para que la galería ocupe todo el ancho disponible */
    }
    

  
  .gallery-item {
    margin: 10px;
  }
  
  .gallery-item img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }